<form class="slugblaster-playbook-sheet {{cssClass}}" autocomplete="off">
  <section>
    <div>
      <label for="name">{{ localize 'Slugblaster.Name' }}</label>
      <input id="name" name="name" type="text" value="{{actor.name}}" class="sb-name-input" placeholder="{{ localize 'Slugblaster.Playbook.NamePlaceholder'}}" />
    </div>
    
    <div class="flexcontainer">
      <div class="flex1">
        <label for="boosts">{{ localize 'Slugblaster.Boost' }}</label>
        <input id="boosts" name="system.boosts" type="number" value="{{actor.system.boosts}}" placeholder="{{ localize 'Slugblaster.Playbook.BoostPlaceholder'}}" />
      </div>
    
      <div class="flex1">
        <label for="kicks">{{ localize 'Slugblaster.Kick' }}</label>
        <input id="kicks" name="system.kicks" type="number" value="{{actor.system.kicks}}" placeholder="{{ localize 'Slugblaster.Playbook.KickPlaceholder'}}" />
      </div>
    </div>
    
    <div>
      <label for="styleBonus">{{ localize 'Slugblaster.Playbook.StyleBonus' }}</label>
      <input id="styleBonus" name="system.styleBonus" type="text" value="{{actor.system.styleBonus}}" placeholder="{{ localize 'Slugblaster.Playbook.StyleBonusPlaceholder'}}" />
    </div>
    
    <div>
      <label for="specialGear">{{ localize 'Slugblaster.Playbook.SpecialGear' }}</label>
      <input id="specialGear" name="system.specialGear" type="text" value="{{actor.system.specialGear}}" placeholder="{{ localize 'Slugblaster.Playbook.SpecialGearPlaceholder'}}" />
    </div>
    
    <div>
      <label for="attitude">{{ localize 'Slugblaster.Playbook.Attitude' }}</label>
      <textarea id="attitude" name="system.attitude" placeholder="{{ localize 'Slugblaster.Playbook.AttitudePlaceholder'}}">{{actor.system.attitude}}</textarea>
    </div>
  </section>
  <section>
    <h3>{{ localize 'Slugblaster.Playbook.SpecialTrait' }}</h3>
    <ul>
    <li class="list-item traits flexrow">
      <input name="system.specialTraitName" type="text" value="{{actor.system.specialTraitName}}" placeholder="{{ localize 'Slugblaster.Playbook.SpecialTraitNamePlaceholder' }}" />
      <input name="system.specialTraitDesc" class="flex3" type="text" value="{{actor.system.specialTraitDesc}}" placeholder="{{ localize 'Slugblaster.Playbook.SpecialTraitDescPlaceholder' }}" />
    </li>
    </ul>
      
    <h3>{{ localize 'Slugblaster.Traits' }}
      <a class="addBtn" title="{{ localize 'Slugblaster.Add' }}" data-type="beat" data-system-type="trait"><i class="item-control fas fa-plus"></i></a>
    </h3>
    <ul>
      <li class="flexrow">
        <label>{{ localize 'Slugblaster.Name' }}</label>
        <label class="flex3">{{ localize 'Slugblaster.Playbook.Description' }}</label>
        <div class="flex0"></div>
      </li>
      
      {{#each traits as |beat tId|}}
      <li class="list-item traits valChangeParent flexrow" data-item-id="{{beat._id}}" data-type="beat" data-system-type="trait">
        <input data-name="name" class="valChange" type="text" value="{{beat.name}}" placeholder="{{ localize 'SB.newTrait' }}" />
        <input data-name="system.description" class="valChange flex3" type="text" value="{{beat.system.description}}" placeholder="{{ localize 'SB.newTraitDesc' }}" />
        <a class="delete flex0" title="{{ localize 'Slugblaster.Delete' }}" data-item-id="{{beat._id}}">
          <i class="fas fa-trash"></i>
        </a>
      </li>
      {{/each}}
    </ul>
  </section>
  
  {{> "systems/slugblaster/template/parts/beatsPlaybook.hbs" beatName="traitBeat" beats=traitBeats}}
  
  <section>
    <h3>
      {{ localize 'Slugblaster.Beats' }}
      <a class="addBtn" title="{{ localize 'Slugblaster.Add' }}" data-type="beat" data-system-type="playbook"><i class="item-control fas fa-plus"></i></a>
    </h3>
    <ul class="playbook-beat">
      <li class="flexrow">
        <label class="flex2">{{ localize 'Slugblaster.Name' }}</label>
        <label class="al-c">{{ localize 'Slugblaster.Trouble' }}</label>
        <label class="al-c">{{ localize 'Slugblaster.Style' }}</label>
        <label class="flex2">{{ localize 'Slugblaster.Reward' }}</label>
        <div class="flex0"></div>
      </li>
        
      {{#each playbookBeats as |beat bId|}}
      <li class="beatRow" valChangeParent data-item-id="{{beat._id}}">
        <div class="flexrow">
          <input data-name="name" class="valChange beatName flex2" type="text" value="{{beat.name}}" />
          <input data-name="system.troubleCost" class="valChange al-c" type="text" value="{{beat.system.troubleCost}}" />
          <input data-name="system.styleCost" class="valChange al-c" type="text" value="{{beat.system.styleCost}}" />
          <input data-name="system.reward" class="valChange flex2" type="text" value="{{beat.system.reward}}" placeholder="{{ localize 'SB.newBeatReward' }}" />
          <a class="delete flex0" title="{{ localize 'Slugblaster.Delete' }}" data-item-id="{{beat._id}}">
            <i class="fas fa-trash"></i>
          </a>
        </div>
      </li>
      {{/each}}
    </ul>
  </section>
  
  {{> "systems/slugblaster/template/parts/beatsPlaybook.hbs" beatName="familyBeat" beats=familyBeats}}

  {{> "systems/slugblaster/template/parts/beatsPlaybook.hbs" beatName="angstBeat" beats=angstBeats}}

  {{> "systems/slugblaster/template/parts/beatsPlaybook.hbs" beatName="crewBeat" beats=crewBeats}}

  {{> "systems/slugblaster/template/parts/beatsPlaybook.hbs" beatName="otherBeat" beats=otherBeats}}

</form>