<section class="slugblasterBeats">
  <h3>
    {{ localize beatName }}
  </h3>
  <ul>
    {{#each beats as |beat bId|}}
    <li class="beatRow active" data-item-id="{{beat._id}}" data-type="{{beatName}}">
      <span class="beatName">{{ beat.name }}</span>
      {{#unless beat.system.active }}
      <span class="beatCostBlock {{hideIfZero beat.system.styleCost beat.system.troubleCost 0 0 }}">
        ( {{ CostLabel beat.system.styleCost "SB.style" }}{{ CostLabel beat.system.troubleCost "SB.trouble" }} )
      </span>
      {{/unless }}
      <span class="beatReward">{{ beat.system.reward }}</span>
      <span class="beatDesc">{{ beat.system.description }}</span>
    </li>
    {{/each}}
  </ul>
</section>