<section class="slugblasterLegacy">
  <h2>
    <a class="addBtn" title="{{ localize 'SB.addLegacy' }}" data-type="legacy">
      {{ localize 'SB.legacy' }}
      <i class="item-control fas fa-plus"></i>
    </a>
  </h2>
  <ul>
    {{#each legacy as |item key|}}
    <li class="itemRow" data-item-id="{{beat._id}}" data-type="legacy">
      <input type="text" data-name="name" class="valChange" value="{{item.name}}" />
      <a class="delete flex0" title="{{ localize 'SB.delete' }}" data-item-id="{{item._id}}">
        <i class="fas fa-trash"></i>
      </a>
    </li>
    {{/each}}
  </ul>
</section>
<section class="slugblasterLegacy">
  <h2>
    <a class="addBtn" title="{{ localize 'SB.addDoom' }}" data-type="doom">
      {{ localize 'SB.doom' }}
      <i class="item-control fas fa-plus"></i>
    </a>
  </h2>
  <ul>
    {{#each doom as |item key|}}
    <li class="itemRow" data-item-id="{{beat._id}}" data-type="doom">
      <input type="text" data-name="name" class="valChange" value="{{item.name}}" />
      <a class="delete flex0" title="{{ localize 'SB.delete' }}" data-item-id="{{item._id}}">
        <i class="fas fa-trash"></i>
      </a>
    </li>
    {{/each}}
  </ul>
</section>
<section class="slugblasterSlam">
  <h2>
    <a class="addBtn" title="{{ localize 'SB.addLegacy' }}" data-type="slam">
      {{ localize 'SB.slams' }}
      <i class="item-control fas fa-plus"></i>
    </a>
  </h2>
  <ul>
    {{#each slams as |item key|}}
    <li class="itemRow" data-item-id="{{beat._id}}" data-type="slam">
      <input type="text" data-name="name" class="valChange" value="{{item.name}}" />
      <a class="delete flex0" title="{{ localize 'SB.delete' }}" data-item-id="{{item._id}}">
        <i class="fas fa-trash"></i>
      </a>
    </li>
    {{/each}}
  </ul>
</section>