<section class="slugblasterBeats">
  <h3>
    {{ localize beatName }}
  </h3>
  <ul>
    {{#each beats as |beat bId|}}
    <li class="beatRow active" data-item-id="{{beat._id}}" data-type="{{beatName}}">
      <span class="beatName">{{ beat.name }}</span>
      {{#if (or (gt beat.system.styleCost 0) (gt beat.system.troubleCost 0)) }}
        <span>(
        {{#numLoop beat.system.styleCost}}{{{my_icon "style active" 'Slugblaster.Style' 0}}}{{/numLoop}}
        {{#numLoop beat.system.troubleCost}}{{{my_icon "trouble active" 'Slugblaster.Trouble' 0}}}{{/numLoop}}
        )</span>
      {{/if}}
      {{#if beat.system.reward}}
      <span class="beatReward">{{ beat.system.reward }}</span>
      {{/if}}
      <span class="beatDesc">{{ beat.system.description }}</span>
    </li>
    {{/each}}
  </ul>
</section>