<section class="slugblasterBeats">
  <h3>{{ localize beatName }}</h3>
  <ul>
    {{#each beats as |beat bId|}}
    <li class="beatRow {{ isUnlocked beat.system.active }}" data-item-id="{{beat._id}}">
      <span class="load flex0 {{ haveStyleOrTrouble ../actor.system beat.system }}" data-value="{{beat.system.active}}"></span>
      <span class="beatName">{{ beat.name }}</span>
      {{#if (or (gt beat.system.styleCost 0) (gt beat.system.troubleCost 0)) }}
        <span class="beatCosts">(
        {{#numLoop beat.system.styleCost}}{{{my_icon "style active" 'SB.style' 0}}}{{/numLoop}}
        {{#numLoop beat.system.troubleCost}}{{{my_icon "trouble active" 'SB.trouble' 0}}}{{/numLoop}}
        )</span>
      {{/if}}
      {{#if beat.system.reward}}
      <span class="beatReward">{{ beat.system.reward }}</span>
      {{/if}}
      <span class="beatDesc">{{ beat.system.description }}</span>
    </li>
    {{/each}}
  </ul>
</section>