<section class="crewDicePool {{cssClass}}">
  <h2>{{ localize 'Slugblaster.Crew.Challenges' }}</h2>
  <div class="rolling" data-type="challengesPool">
    <div class="btn-group">
      <button class="btn dicepoolMinus">-</button>
      <button class="btn dicepoolRoll">
        {{ localize 'Slugblaster.Actor.Dicepool.Roll' }}
        {{ actor.system.challengesPool}}
        {{#if (eq actor.system.challengesPool 1) }}
          {{ localize 'Slugblaster.Actor.Dicepool.Die' }}
        {{/if}}
        {{#if (gt actor.system.challengesPool 1) }}
          {{ localize 'Slugblaster.Actor.Dicepool.Dice' }}
        {{/if}}
        !
      </button>
      <button class="btn dicepoolPlus">+</button>
    </div>
  <div class="challengesPool" data-value="actor.system.challengesPool" data-key="challengesPool">
    {{#numLoop actor.system.challengesPool}}
			{{{my_icon "dice" "" this}}}
    {{/numLoop}}
  </div>
    <p>
      <input id="cc_rival" type="checkbox" class="conditional" name="system.cc_rival" {{checked actor.system.cc_rival }}>
      <label for="cc_rival">{{ localize 'Slugblaster.Crew.ChallengesPlusOneRivals' }}</label>
    </p>
    <p>
      <input id="cc_enemy" type="checkbox" class="conditional" name="system.cc_enemy" {{checked actor.system.cc_enemy }}>
      <label for="cc_enemy">{{ localize 'Slugblaster.Crew.ChallengesPlusOneEnemies' }}</label>
    </p>
    <p>
      <input id="cc_upandc" type="checkbox" class="conditional" name="system.cc_upandc" {{checked actor.system.cc_upandc }}>
      <label for="cc_upandc">{{ localize 'Slugblaster.Crew.ChallengesPlusOneUpAndComers' }}</label>
    </p>
    <p>
      <input id="cc_rising" type="checkbox" class="conditional" name="system.cc_rising" {{checked actor.system.cc_rising }}>
      <label for="cc_rising">{{ localize 'Slugblaster.Crew.ChallengesPlusOneRisingStars' }}</label>
    </p>
  </div>
</section>