<section class="crew-details flexrow">
  <div class="actor-img">
    <img class="profile-img flex0" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
  </div>
  <div class="crew-details">
    <label for="name">
      {{ localize 'Slugblaster.Crew.Name' }}
      {{#if editable }}
      <a class="rollableTable" title="{{ localize 'Slugblaster.Randomize' }}" data-action="crew"><i class="icon icon-dice"></i></a>
      {{/if}}
    </label>
    <input id="name" name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'Slugblaster.Crew.NamePlaceholder'}}" />
    
    <div>
      <label for="brands">
        {{ localize 'Slugblaster.Crew.Brands' }}
        {{#if editable }}
        <a class="rollableTable" title="{{ localize 'Slugblaster.Randomize' }}" data-action="brands"><i class="icon icon-dice"></i></a>
        {{/if}}
      </label>
      <input id="brands" type="text" name="system.brands" value="{{actor.system.brands}}" placeholder="{{ localize 'Slugblaster.Crew.BrandsPlaceholder' }}" />
    </div>
    
    <div>
      <label for="hangouts">
        {{ localize 'Slugblaster.Crew.Hangouts' }}
        {{#if editable }}
        <a class="rollableTable" title="{{ localize 'Slugblaster.Randomize' }}" data-action="hangouts"><i class="icon icon-dice"></i></a>
        {{/if}}
      </label>
      <input id="hangouts" type="text" name="system.hangouts" value="{{actor.system.hangouts}}" placeholder="{{ localize 'Slugblaster.Crew.HangoutsPlaceholder' }}" />
    </div>
    
    
    <h3>{{ localize 'Slugblaster.Crew.Fractures' }}</h3>
    <div class="crewFractures">
      <input type="text" name="system.fracture_1" value="{{actor.system.fracture_1}}" placeholder="{{ localize 'Slugblaster.Crew.FracturePlaceholder' }}" />
      <input type="text" name="system.fracture_2" value="{{actor.system.fracture_2}}" placeholder="{{ localize 'Slugblaster.Crew.FracturePlaceholder' }}" />
    </div>
  </div>

</section>
