<section class="slugblaster-details flexrow">
  <div class="actor-img">
    <img class="profile-img flex0" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
    <div class="attitude" title="{{ actor.system.attitude }}">
      <div class="sbResources" data-value="{{actor.system.boostsRemaining}}" data-key="boostsRemaining">
        {{#numLoop actor.system.boosts }}<i class="icon icon-boost" data-index="{{this}}"></i>{{/numLoop}}
      </div>
      <div class="sbResources" data-value="{{actor.system.kicksRemaining}}" data-key="kicksRemaining">
        {{#numLoop actor.system.kicks }}<i class="icon icon-kick" data-index="{{this}}"></i>{{/numLoop}}
      </div>
    </div>
  </div>
  <div class="actor-details">
    <div>
      <label for="name">{{ localize 'Slugblaster.Actor.Details.Name' }}</label>
      <input id="name" name="name" type="text" value="{{actor.name}}" class="sb-name-input" placeholder="{{ localize 'Slugblaster.Actor.Details.NamePlaceholder' }}" />
    </div>
    
    <div class="sb_playbook">
      <label for="playbook">{{ localize 'Slugblaster.Actor.Details.Playbook' }}</label>
      <span class="actorPlaybook">{{ localize actor.system.playbook }}</span>
    </div>
    
    <div>
      <label for="look">{{ localize 'Slugblaster.Actor.Details.Look' }}</label>
      <input id="look" type="text" name="system.look" value="{{actor.system.look}}" placeholder="{{ localize 'Slugblaster.Actor.Details.LookPlaceholder' }}" />
      {{#if editable }}<a class="rollableTable" title="{{ localize 'Slugblaster.Randomize' }}" data-action="look"><i class="icon icon-dice"></i></a>{{/if}}
    </div>

    <div>
      <label for="family">{{ localize 'Slugblaster.Actor.Details.Family' }}</label>
      <input id="family" type="text" name="system.family" value="{{actor.system.family}}" placeholder="{{ localize 'Slugblaster.Actor.Details.FamilyPlaceholder' }}"/>
      {{#if editable }}<a class="rollableTable" title="{{ localize 'Slugblaster.Randomize' }}" data-action="family"><i class="icon icon-dice"></i></a>{{/if}}
    </div>
    
    <div>
      <label for="bond">{{ localize 'Slugblaster.Actor.Details.Bond' }}</label>
      <input id="bond" type="text" name="system.bond" value="{{actor.system.bond}}" placeholder="{{ localize 'Slugblaster.Actor.Details.BondPlaceholder' }}"/>
      {{#if editable }}<a class="rollableTable" title="{{ localize 'Slugblaster.Randomize' }}" data-action="bond"><i class="icon icon-dice"></i></a>{{/if}}
    </div>

    <div>
      <label for="vibes">{{ localize 'Slugblaster.Actor.Details.Vibes' }}</label>
      <input id="vibes" type="text" name="system.vibes" value="{{actor.system.vibes}}" placeholder="{{ localize 'Slugblaster.Actor.Details.VibesPlaceholder' }}"/>
      {{#if actor.system.playbook }}
      {{#if editable }}<a class="rollableTable" title="{{ localize 'Slugblaster.Randomize' }}" data-action="vibes"><i class="icon icon-dice"></i></a>{{/if}}
      {{/if}}
    </div>
    
    <div>
      <label for="stickers">{{ localize 'Slugblaster.Actor.Details.Stickers' }}</label>
      <input id="stickers" type="text" name="system.stickers" value="{{actor.system.stickers}}" placeholder="{{ localize 'Slugblaster.Actor.Details.StickersPlaceholder' }}"/>
      {{#if editable }}<a class="rollableTable" title="{{ localize 'Slugblaster.Randomize' }}" data-action="stickers"><i class="icon icon-dice"></i></a>{{/if}}
    </div>
  </div>
</section>