<section class="slugblasterDowntime {{cssClass}}">
  <h2>{{ localize 'Slugblaster.Actor.Dicepool.Downtime' }}</h2>
  
	<a class="rollableTable {{#if (lt actor.system.style 2) }}disabled{{/if}}" title="{{ localize 'Slugblaster.Actor.Dicepool.PortalDiscovery' }}" data-action="portal_discovery">
    {{{my_icon "style active" 'Slugblaster.Style' }}}{{{my_icon "style active" 'Slugblaster.Style' }}} => {{ localize 'Slugblaster.Actor.Dicepool.PortalDiscovery' }}
  </a>
  <hr>
  <a class="rollableTable {{#if (lt actor.system.style 1) }}disabled{{/if}}" title="{{ localize 'Slugblaster.Actor.Dicepool.BeingGood' }}" data-action="being_good">
    {{{my_icon "style active" 'Slugblaster.Style' }}} => {{ localize 'Slugblaster.Actor.Dicepool.BeingGood' }} => -{{{my_icon "trouble active" 'Slugblaster.Trouble' }}}{{{my_icon "trouble active" 'Slugblaster.Trouble' }}}
  </a>
</section>