<section class="slugblasterDowntime {{cssClass}}">
  <h2>{{ localize 'SB.downtime' }}</h2>
  
	<a class="rollableTable {{#if (lt actor.system.style 2) }}disabled{{/if}}" title="{{ localize 'SB.portal_discovery' }}" data-action="portal_discovery">{{{my_icon "style active" 'SB.style' }}}{{{my_icon "style active" 'SB.style' }}} => {{ localize 'SB.portal_discovery' }}</a>
</section>