<section class="slugblasterFactions">
  <ul>
    {{#each factions as |faction key|}}
    <li class="factionRow data-item-id="{{faction._id}}">
      <span class="factionName">{{ faction.name }}</span>
      <a class="delete flex0" title="{{ localize 'SB.delete' }}" data-item-id="{{faction._id}}">
        <i class="fas fa-trash"></i>
      </a>
      <span class="factionDesc">{{ faction.system.description }}</span>
    </li>
  {{/each}}
  </ul>
</section>
