<section class="slugblasterFactions">
  <h3>
    {{ localize 'Slugblaster.Crew.Factions' }}
    <a class="addBtn" title="{{ localize 'Slugblaster.Add' }}" data-type="faction" data-system-type="faction">
      <i class="item-control fas fa-plus"></i>
    </a>
  </h3>

  <ul>
    {{#each standings as |standing key|}}
    <li class="standingLevel flexrow {{ standing.name }}">
      <div class="standingsName flex1" title="{{ standing.desc }}">{{ standing.value }}: {{ localize standing.name }}</div>
      <div class="draggable-container flex" data-container-id="{{ standing.value }}">
        {{#each factions as |faction key|}}
        <div class="draggable-item valChangeParent" data-item-id="{{ faction._id }}" draggable="true">
          <p class="not-editable">
            <span class="factionName">{{ faction.name }}</span>
            <a class="edit" title="{{ localize 'Slugblaster.Edit' }}"><i class="fas fa-edit"></i></a>
          </p>
      
          <div class="editable hidden">
            <div class="flexrow">
              <input data-name="name" class="valChange factionName flex2" type="text" value="{{faction.name}}" />
              <a class="delete flex0" title="{{ localize 'Slugblaster.Delete' }}" data-item-id="{{faction._id}}">
                <i class="fas fa-trash"></i>
              </a>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </li>
    {{/each}}
  </ul>
</section>
