<section class="slugblasterFactions">
  <h3>
    {{ localize 'SB.factions' }}
    <a class="addBtn" title="{{ localize 'SB.addFaction' }}" data-type="faction" data-system-type="faction">
      <i class="item-control fas fa-plus"></i>
    </a>
  </h3>

  <ul>
    {{#each factions as |faction key|}}
    <li class="factionRow" data-item-id="{{faction._id}}">
      <p class="{{ isUnlocked faction.system.active }} not-editable">
        <span class="factionLevel">{{ faction.system.level }}</span>
        <span class="factionName">{{ faction.name }}</span>
        <a class="edit" title="{{ localize 'SB.edit' }}"><i class="fas fa-edit"></i></a>
      </p>
      <div class="editable hidden">
        <div class="flexrow">
          <input data-name="system.level" class="valChange factionLevel flex1" value="{{faction.system.level}}" type="text">
          <input data-name="name" class="valChange factionName flex2" type="text" value="{{faction.name}}" />
          <a class="delete flex0" title="{{ localize 'SB.delete' }}" data-item-id="{{faction._id}}">
            <i class="fas fa-trash"></i>
          </a>
        </div>
      </div>
    </li>    
  {{/each}}
  </ul>
</section>
