<section class="slugblasterFame">
  <ul class="fameRows">
    {{#each fame as |f key|}}
    <li class="fameRow">
      <div class="w50">
        <h3 class="fameName {{#if (eq key ../actor.system.fame_level) }}selected{{/if}}" title="{{ f.desc }}">
          <input id="fame_{{key}}" type="radio" name="system.fame_level" value="{{ key }}" {{checked (eq key ../actor.system.fame_level) }}>
          <label for="fame_{{key}}">
            {{ key }}: {{ f.name }} 
            {{#if (and f.cost (gt key ../actor.system.fame_level)) }}({{ f.cost }} x {{{my_icon "style active" 'Slugblaster.Style' 0 }}}){{/if}}
          </label>
        </h3>
        <p></p>
      </div>
      <div class="w50">
        <ul>
        {{#each f.perks as |p pKey|}}
          <li class="perk {{#if (gt key ../../actor.system.fame_level) }}disabled{{/if}}">
            <div class="perkName" title="{{ p.desc }}">
              <input type="checkbox" name="system.fame_perk_{{key}}_{{pKey}}" {{#if (isPerkUnlocked ../../actor key pKey) }}checked{{/if}} id="fame_perk_{{key}}_{{pKey}}">
              <label for="fame_perk_{{key}}_{{pKey}}">
                {{ p.name }} 
                {{#unless (isPerkUnlocked ../../actor key pKey)}}
                <span="perkCost">({{ p.cost }} x {{{my_icon "style active" 'Slugblaster.Style' 0 }}})</span>
                {{/unless}}
              </label>
            </div>
          </li>
        {{/each}}
        {{#if (eq key 5) }}
        <li class="legend">
          <input type="text" name="system.fame_legend_1" value="{{ ../actor.system.fame_legend_1 }}" >
          <input type="text" name="system.fame_legend_2" value="{{ ../actor.system.fame_legend_2 }}" >
        </li>
        {{/if}}
        </ul>
      </div>
    </li>
    {{/each}}
  </ul>
</section>
<section>
  <h3 title="{{ localize 'Slugblaster.Crew.NobodiesDesc' }}">
    <input type="checkbox" {{checked (eq actor.fame_level 0) }}>
    0: {{ localize 'Slugblaster.Crew.Nobodies' }}
  </h3>
  <h3 title="{{ localize 'Slugblaster.Crew.UpAndComersDesc' }}">
    <input type="checkbox" {{checked actor.fame_1 }}>
    1: {{ localize 'Slugblaster.Crew.UpAndComers' }}
  </h3>
  <h3 title="{{ localize 'Slugblaster.Crew.WellEstablishedDesc' }}">
    <input type="checkbox" {{checked actor.fame_2 }}>
    2: {{ localize 'Slugblaster.Crew.WellEstablished' }}
  </h3>
  <h3 title="{{ localize 'Slugblaster.Crew.MajorPlayersDesc' }}">
    <input type="checkbox" {{checked actor.fame_3 }}>
    3: {{ localize 'Slugblaster.Crew.MajorPlayers' }}
  </h3>
  <h3 title="{{ localize 'Slugblaster.Crew.RisingStarsDesc' }}">
    <input type="checkbox" {{checked actor.fame_4 }}>
    4: {{ localize 'Slugblaster.Crew.RisingStars' }}
  </h3>
  <h3 title="{{ localize 'Slugblaster.Crew.LegendsDesc' }}">
    <input type="checkbox" {{checked actor.fame_5 }}>
    5: {{ localize 'Slugblaster.Crew.Legends' }}
  </h3>
</section>



