<section class="slugblasterFame">
  <h2>
    {{ localizeCrew actor.system.fame_level "" }}
    {{#if (lte actor.system.fame_level 4)}}
    <a class="button levelUp {{#if (lt actor.system.style nextLevelStyleCost) }}disabled{{/if}}" title="{{ localize 'Slugblaster.Crew.LevelUp' }}" data-style-cost="{{nextLevelStyleCost}}">
      {{#numLoop nextLevelStyleCost}}{{{my_icon "style active" 'Slugblaster.Style' ""}}}{{/numLoop}}
    </a>
    {{/if}}
  </h2>
  {{#unless (or (eq actor.system.fame_level 0) (eq actor.system.fame_level 5))}}<p>{{ localizeCrew actor.system.fame_level "Rewards" }}</p>{{/unless}}
  <p>{{ localizeCrew actor.system.fame_level "Desc" }}</p>
  
  <h3>{{ localize 'Slugblaster.Crew.Unlocked' }}</h3>
  <div class="perks">
  {{#each unlocked as |p key|}}
    {{#if (lte p.level ../actor.system.fame_level)}}
      <div class="perk">
        <span class="perkName">{{ p.name }}<i class="fas fa-check"></i></span>
        <p>{{ p.desc }}</p>
      </div>
    {{/if}}
  {{/each}}
  </div>
  <h3>{{ localize 'Slugblaster.Crew.Unlockable' }}</h3>
  <div class="perks">
  {{#each perks as |p key|}}
    {{#if (and (lte p.level ../actor.system.fame_level) (eq p.unlocked false)) }}
      <div class="perk {{#if (lt ../actor.system.style p.cost) }}disabled{{/if}}">
        <span class="perkName">{{ p.name }}</span>
        <a class="button unlockPerk perkCost" data-item-id="{{key}}" data-style-cost="{{p.cost}}">
          {{#numLoop p.cost }}{{{my_icon "style active" 'Slugblaster.Style' 0 }}}{{/numLoop}}
        </a>
        <p>{{ p.desc }}</p>
      </div>
    {{/if}}
  {{/each}}
  </div>
</section>