<section class="slugblasterFame">
  <ul>
    {{#each fame as |f key|}}
    <li class="fameRow data-item-id="{{f._id}}">
      <div class="fameName" title="{{ f.desc }}">
        <input name="system.fame" type="checkbox" value="{{ key }}">
        {{ key }}: {{ f.name }} {{#if f.cost }}({{ f.cost }} style){{/if}}
      </div>
      {{#each f.perks as |p key|}}
      <div class="perk">
        <div class="perkName" title="{{ p.desc }}">{{ p.name }} <span="perkCost">({{ p.cost }} style)</span></div>
      </div>
      {{/each}}
    </li>
  {{/each}}
  </ul>
</section>
