<section class="slugblasterBoardAndRaygun">
  <div>
    <label for="hoverboard">{{ localize 'SB.board' }}</label>
    <input id="hoverboard" type="text" name="system.hoverboard" value="{{actor.system.hoverboard}}" placeholder="{{ localize 'SB.board_placeholder' }}" />
    <a class="rollableTable" data-table-id="RollTable.9smIg5zqyaSItNpE" data-action="hoverboard" title="{{ localize 'SB.randomize' }}"><i class="icon icon-dice"></i></a>
  </div>
  <div>
    <label for="raygun">{{ localize 'SB.raygun' }}</label>
    <input id="raygun" type="text" name="system.raygun" value="{{actor.system.raygun}}" placeholder="{{ localize 'SB.raygun_placeholder' }}" />
    <a class="rollableTable" data-action="raygun" title="{{ localize 'SB.randomize' }}"><i class="icon icon-dice"></i></a>
  </div>
</section>
<section class="slugblasterGear">
  <h3>
    <a class="addBtn" title="{{ localize 'SB.addGear' }}" data-type="gear" data-system-type="gear">
      {{ localize 'SB.gear' }}
      <i class="item-control fas fa-plus"></i>
    </a>
  </h3>
  <ul>
    {{#each gear as |item key|}}
    <li class="itemRow" data-item-id="{{item._id}}" data-type="gear" data-sType="gear">
      <p class="{{ isUnlocked item.system.active }} not-editable">
        <span class="itemName">{{ item.name }}</span>
        {{#unless item.system.active }}
        <span class="itemCost {{ hideIfZero item.system.coilColst item.system.discCost item.system.gemCost item.system.lensCost }}"> ({{ localize 'SB.craft'}}</span>
        {{#numLoop item.system.coilCost }}<i class="icon icon-coil" title="{{ localize 'SB.coil' }}"></i>{{/numLoop}}
        {{#numLoop item.system.discCost }}<i class="icon icon-disc" title="{{ localize 'SB.disc' }}"></i>{{/numLoop}}
        {{#numLoop item.system.gemCost }}<i class="icon icon-gem" title="{{ localize 'SB.gem' }}"></i>{{/numLoop}}
        {{#numLoop item.system.lensCost }}<i class="icon icon-lens" title="{{ localize 'SB.lens' }}"></i>{{/numLoop}}
        <span class="{{ hideIfZero item.system.coilColst item.system.discCost item.system.gemCost item.system.lensCost }}">)</span>
        {{/unless}}
        <a class="edit" title="{{ localize 'SB.edit' }}"><i class="fas fa-edit"></i></a>
        <span class="itemDesc">
          {{ item.system.description }}
        </span>
      </p>
      <div class="editable hidden">
        <div class="flexrow">
          <span class="load flex0" data-value="{{item.system.active}}"></span>
          {{!--<input type="text" class="valChange" data-name="type" value="{{item.type}}">
          <input type="text" class="valChange" data-name="system.type" value="{{item.system.type}}">--}}
          <input data-name="name" class="valChange itemName flex2" type="text" value="{{item.name}}" />
          <a class="delete flex0" title="{{ localize 'SB.delete' }}" data-item-id="{{item._id}}">
            <i class="fas fa-trash"></i>
          </a>
        </div>
        <textarea data-name="system.description" class="valChange flexrow" placeholder="{{ localize 'SB.ph_itemDesc' }}">{{item.system.description}}</textarea>
      </div>
    </li>
    {{/each}}
  </ul>
</section>