<section class="slugblasterHype">
  <h2>{{ localize 'SB.hype' }}</h2>
	<div class="sbResources" data-value="{{actor.system.boost}}" data-key="boost">
    {{#numLoop boostMax}}
			{{{my_icon "boost" 'SB.boost' this}}}
    {{/numLoop}}
  </div>
  <div class="sbResources" data-value="{{actor.system.kick}}" data-key="kick">
    {{#numLoop kickMax}}
			{{{my_icon "kick" 'SB.kick' this}}}
    {{/numLoop}}
  </div>
</section>