<section class="crewDicePool {{cssClass}}">
  <h2>{{ localize 'Slugblaster.Crew.Runs' }}</h2>
  <div class="rolling" data-type="runsPool">
    <div class="btn-group">
      <button class="btn dicepoolMinus">-</button>
      <button class="btn dicepoolRoll">
        {{ localize 'Slugblaster.Actor.Dicepool.Roll' }}
        {{ actor.system.runsPool}}
        {{#if (eq actor.system.runsPool 1) }}
          {{ localize 'Slugblaster.Actor.Dicepool.Die' }}
        {{/if}}
        {{#if (gt actor.system.runsPool 1) }}
          {{ localize 'Slugblaster.Actor.Dicepool.Dice' }}
        {{/if}}
        !
      </button>
      <button class="btn dicepoolPlus">+</button>
    </div>
  </div>
  <div class="dicePool" data-value="actor.system.runsPool" data-key="runsPool">
    {{#numLoop actor.system.runsPool}}
			{{{my_icon "dice" "" this}}}
    {{/numLoop}}
  </div>
</section>