<div class="slugblaster-signature-block">
  {{#each signatures as |item key|}}
  <section>
    <div class="signatureDetails flexrow">
      <img class="signatureImg itemImg flex0" src="{{item.img}}" data-item-id="{{ item._id }}" />
      <li data-item-id="{{item._id}}">
        <div class="signature-details">
          <h2>
            {{item.name}}
            <i class="fas fa-trash delete" title="{{ localize 'SB.delete' }}" data-item-id="{{ item._id }}""></i>
          </h2>
          <p>{{item.system.description}}</p>
          <input type="text" data-name="system.look" value="{{item.system.look}}" placeholder="{{ localize 'SB.ph_sigMod_look' }}" />
        </div>
      </li>
    </div>
  </section>
  <section class="signatureTurbo">
    <h3>Turbo</h3>
    <div class="flexrow">
      <div class="sbResources" data-value="{{item.system.boosts}}" data-key="boosts" data-item-id="{{item._id}}">
        {{#numLoop 5}}
          {{{my_icon "boost" 'SB.boost' this}}}
        {{/numLoop}}
      </div>
      <div class="sbResources" data-value="{{item.system.kicks}}" data-key="kicks" data-item-id="{{item._id}}">
        {{#numLoop 5}}
          {{{my_icon "kick" 'SB.kick' this}}}
        {{/numLoop}}
      </div>
    </div>
  </section>
  <section class="signatureMods">
    <h3>{{ localize 'SB.signatureMods' }}</h3>
    <ul>
      {{#each item.mods as |mod key|}}
      <li class="list-item sigMod {{ isUnlocked mod.system.active }}" data-item-id="{{mod._id}}">
        <span class="name">{{mod.name}}</span>
        
        {{#unless mod.system.active }}
        <i class="fas fa-download install" title="{{ localize 'SB.install' }}"></i>
        {{/unless }}
        
        {{#unless (not mod.system.active) }}
        <i class="fas fa-recycle salvage" title="{{ localize 'SB.salvage' }}"></i>
        {{/unless}}
        
        <span>(</span>
        <span class="{{ hideIfZero mod.system.coilCost 0 0 0 }}">
          <span>{{mod.system.coilCost}}</span>
          {{{my_icon "coil" 'SB.coils' 0}}}
        </span>
        <span class="{{ hideIfZero mod.system.discCost 0 0 0 }}">
          <span>{{mod.system.discCost}}</span>
          {{{my_icon "disc" 'SB.discs' 0}}}
        </span>
        <span class="{{ hideIfZero mod.system.gemCost 0 0 0 }}">
          <span>{{mod.system.gemCost}}</span>
          {{{my_icon "gem" 'SB.gems' 0}}}
        </span>
        <span class="{{ hideIfZero mod.system.lensCost 0 0 0 }}">
          <span>{{mod.system.lensCost}}</span>
          {{{my_icon "lens" 'SB.lenses' 0}}}
        </span>
        <span>)</span>
        
        <i class="fas fa-trash delete" title="{{ localize 'SB.delete' }}" data-item-id="{{ mod._id }}"></i>
        
        <p class="desc">{{mod.system.description}}</p>
      </li>
      {{/each}}
    </ul>
  </section>
  {{/each}}
</div>