<div class="specialTrait">
  <h3>{{ localize actor.system.specialTraitName }}</h3>
  <p>
    {{ actor.system.specialTraitDesc }}
    <input id="specialTrait" type="text" name="system.specialTraitText" placeholder="{{ localize 'Slugblaster.Actor.Traits.SpecialTraitPlaceholder' }}" value="{{ actor.system.specialTraitText }}" ><br />
    {{ localize 'Slugblaster.Actor.Traits.SpecialTraitExplainer' }}
  </p>
</div>
