<section class="slugblasterStash">
  <h2>{{ localize 'SB.components' }}</h2>
  <div>
    <input id="stashCoil" type="number" name="system.coil" value="{{actor.system.coil}}" title="{{ localize 'SB.coils' }}" />
    <label for="stashCoil"><i class="icon icon-coil" title="{{ localize 'SB.coils' }}"></i></label>
    
    <input id="stashDisc" type="number" name="system.disc" value="{{actor.system.disc}}" title="{{ localize 'SB.discs' }}" />
    <label for="stashDisc"><i class="icon icon-disc" title="{{ localize 'SB.discs' }}"></i></label>
    
    <input id="stashGem" type="number" name="system.gem" value="{{actor.system.gem}}" title="{{ localize 'SB.gems' }}" />
    <label for="stashGem"><i class="icon icon-gem" title="{{ localize 'SB.gems' }}"></i></label>
    
    <input id="stashLens" type="number" name="system.lens" value="{{actor.system.lens}}" title="{{ localize 'SB.lenses' }}" />
    <label for="stashLens"><i class="icon icon-lens" title="{{ localize 'SB.lenses' }}"></i></label>
    
    {{#if editable }}<a class="rollableTable" data-table-id="RollTable.OCxESGRjaa3Uoc0D" data-action="getComponents">
      <i class="icon icon-dice"></i>
      <span>{{ localize 'SB.inTheLabComponents' }}</span>
    </a>{{/if}}
    {{#if actor.system.styleFree }}
    <span class="free">(FREE)</span>
    {{/if}}
  </div>
</section>