<section class="slugblasterStyle {{cssClass}}">
  <h2>{{ localize 'SB.style' }}</h2>
	<div class="sbResources" data-value="{{actor.system.style}}" data-key="style">
    {{#numLoop styleMax}}
			<i class="icon icon-style" data-index="{{this}}"></i>
    {{/numLoop}}
  </div>
  {{#if this.actor.system.styleBonus }}
  <span class="styleBonus">
    {{ localize 'SB.styleBonus' this=actor.system.styleBonus }}
  </span>
  {{/if}}
</section>